<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="window_disaster_noti.Properties.Settingdata" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <window_disaster_noti.Properties.Settingdata>
            <setting name="cb_allowNoti" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb_usePopNoti" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cb_runOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cb_darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="every_region" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="province" serializeAs="String">
                <value>전라북도</value>
            </setting>
            <setting name="city" serializeAs="String">
                <value>전주시</value>
            </setting>
        </window_disaster_noti.Properties.Settingdata>
    </userSettings>
</configuration>